<%- include("partials/header");-%>
<h1>New Blog</h1>
<form action='/compose' method="POST"> 
    <div class="form-group">
        <label for="title">Title</label>
    <input type="text" id="title"class="form-control"  name="titleText" autocomplete="false"> 
    
   
        <label for="post">Post</label>
    <textarea class="form-control" id="post" type="text" rows="5" cols="30" name="postText"></textarea> 
    </div> 
    <div>

    <button type="submit"class="btn btn-primary submit">Post</button>
    </div>

</form>

<%- include("partials/footer"); %>
